.headerBtn {
    font-weight: bold;
    color: black;
    background: none;
    cursor: pointer;
    border: none;
    margin: 0 10px;
    padding: 5px 20px;
}

.headerBtn:hover {
    color: #812c2c;
}

h2 {
    font-family: cursive;
    color: currentcolor;
}